.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_container{
    border-bottom: 1px solid  #a09c9c;
    padding: 3rem 0;
    text-align: center;
    width: 75%;
}

.content_container{
    border-bottom: 1px solid  #a09c9c;
    padding: 3rem 0;
    text-align: initial;
    width: 75%;
}