.skills_align_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 1rem auto;
}

.dialog_trigger {
  background-color: #0c0d0e;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 1rem;
  width: 14rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.dialog_trigger:hover {
  opacity: 0.8;
}

.blurredBackground {
  filter: blur(5px);
}

.dialog_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #0e0e0e;
  width: 30rem;
  height: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px #fff;
  border-radius: 2rem;
  text-align: center;
}

@media screen and (max-width: 875px) {
  .skills_align_container {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem auto;
  }

  .dialog_content{
    width: 45vh;
    height: 80vh;
    margin: 5rem auto;
  }
}

@media screen and (max-width: 430px) {
  .skills_align_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
}
