.skill_container{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_container{
    border-bottom: 1px solid  #a09c9c;
    padding: 5rem 0;
    text-align: center;
    width: 75%;
}

.title_container h1{
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
}

.text_container{
    border-bottom: 1px solid  #a09c9c;
    padding: 3rem 0;
    text-align: center;
    width: 75%;
}

.text_container p{
    font-size: 1.1rem;
}

.features_container{
    padding: 3rem 0;
    text-align: center;
    width: 75%;
}