.home_container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: initial;
    height: 80vh;
    max-width: 1080px;
    margin: 0 auto;
  }

  .carousel_btn {
    font-size: larger; 
    padding: 5px 10px; 
    border: 2px solid #ffffff; 
    cursor: pointer; 
    margin: 1rem;
    transition: ease-in-out .3s;
  }
  
  .carousel_btn:hover {
    background-color: #ffffff; 
    color: #000000; 
  }
  
  .home_container h1 {
    font-size: 4em;
    font-family: "GFS Didot", serif;
    font-style: italic;
  }

  .home_container p {
    font-family: "GFS Didot", serif;
    font-size: 16px;
    font-style: italic;
    color: #a09c9c;
  }
  
  .home_about_me {
    margin: 1rem;

  }

  .tecnologias {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .carousel {
    display: flex;
    align-items: center;
  }
  
  .carousel button {
    vertical-align: middle;
    background: none;
    border: none;
    padding: .5rem;
    color: #ffff;
    width: 20px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 800px) {
    .home_container {
      flex-direction: column;
      margin: 0 auto ;
    }
  }
  