.cards_align_container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  text-align: center;
}

.projects_cards {
  border: 1px solid #1d1c1c;
  border-radius: 1rem;
  box-sizing: border-box;
  margin-top: 1rem;
  width: 12rem;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.projects_cards:hover {
  opacity: 50%;
}

.projects_cards img {
  width: 100%;
  max-width: 100%;
}

@media screen and (max-width: 785px) {
  .cards_align_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 430px) {
  .cards_align_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
