.navbar_container {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  background-color: #0f0e0e;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-bottom: 1.5px solid #292626;
  margin: 0 auto;
}

li {
  margin: 0 1rem;
}

@media screen and (max-width: 475px) {
    li{
        margin: 0;
    }
}

.brand {
  font-size: 1.2em;
}

.brand span {
  font-weight: 900;
}

.links_list {
  display: flex;
  list-style: none;
}

.links_list {
  margin-right: 1em;
}

.links_list a {
  padding: 0.4em 0.6em;
}

.active {
  background-color: #ffffff;
  color: #000000;
}
