.navbar_container {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  background-color: #0f0e0e;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-bottom: 1.5px solid #292626;
  margin: 0 auto;
}

li {
  margin: 0 1rem;
}

.brand {
  font-size: 1.2em;
}

.brand span {
  font-weight: 900;
}

.links_list {
  display: flex;
  list-style: none;
  margin-right: 1em;
}

.links_list a {
  padding: 0.4em 0.6em;
}

.active {
  background-color: #ffffff;
  color: #000000;
}

.menu_btn{
  display: none;
}

@media screen and (max-width: 600px) {
  .list {
    display: none;
  }

  nav {
    justify-content: flex-start;
  
  }

  .menu_btn {
    display: block;
    padding-left: 1rem;
    margin-left: 9rem; 
  }
}

@media screen and (max-width: 375px) and (max-height: 815px) {
  .menu_btn{
    padding: 0;
  }
}