body{
  background-color: #f6f6f6 ;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
  
  a,
  nav button {
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: #faf8f8;
    transition: .4s;
    font-size: 1em;
    cursor: pointer;
    font-family: "Lato", sans-serif;
  }
  
  a:hover,
  nav button:hover{
    color: #bbb;
  }