body{
  background-color: #0c0a0a ;
  color: #faf8f8;
  padding: 0;
  margin: 0;
  font-family: "GFS Didot", serif;
}

  a,
  nav button {
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: #faf8f8;
    transition: .4s;
    font-size: 1em;
    cursor: pointer;
    font-family: "GFS Didot", serif;
  }
  
  a:hover,
  nav button:hover{
    color: #bbb;
  }